.Navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5%;
  width: 100vw;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.slider-object {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.slider p {
  text-align: end;
  padding-right: 10px;
  width: 40%;
}

.Navbar .logo {
  color: black;
  text-decoration: none;
  font-size: 1.2;
  font-weight: bold;
  letter-spacing: 1px;
  width: 20%;
}

.select {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.rc-slider-rail {
  background-color: transparent;
}

.rc-slider-track {
  background-color: gray !important;
}

.rc-slider-handle,
.rc-slider-handle:hover,
.rc-slider-handle:active,
.rc-slider-handle:focus {
  background-color: black !important;
  border: 1px solid black !important;
  outline: none;
  box-shadow: none;
}

@media (max-width: 500px) {
  .Navbar,
  .slider {
    flex-direction: column;
    padding: 5px 0;
  }

  .slider {
    width: 100%;
  }
  .slider-object {
    width: 90%;
  }

  .slider-object p {
    font-size: 0.7rem;
    font-weight: bold;
  }

  .Navbar .logo {
    text-align: center;
  }
}
