body {
  height: 100vh;
}

#root {
  height: 100%;
}

.PaletteList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  background-color: none;
  background-image: url('./background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: repeat-y;
  height: 100%;
  width: 100%;
}

.PaletteList h1 {
  color: white;
  text-shadow: black 2px 2px 2px;
  background-color: rgba(255, 255, 255, 0.308);
  padding: 15px 20px;
  border-radius: 10px;
  letter-spacing: 1.2px;
}

.miniPalettes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

@media (max-width: 650px) {
  body {
    height: 100%;
  }
}
